.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1000px;
  flex-direction: column;
  font-family: sans-serif;
  width: 100%;
  background-color: black;
}

.videoPlayer {
  margin-top: 20px;
  background-color: #5a403e;
  width: 90%;
}
